.btn-upload {
    width: 6rem;
    background-color: #514ce8 !important;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: none;
    padding: 8px 12px;
}

.btn-upload:hover {
    background-color: #4540c7 !important;
}